<div class="site-header">
	<span>
		<a href="" class="profile-logo link">CrEoTiSt</a>
	</span>
	<span>
		<a href="" class="notifications link">Notifications</a>
	</span>
	<span>
		<a href="" class="messages link">Messages</a>
	</span>
	<span>
		<form>
			<input type="text" placeholder="Search" class="search-box">
		</form>
	</span>
	<span>
		<a href="" class="log-out link">Log-out</a>
	</span>
	<span>
		<a href="" class="settings link">Settings</a>
	</span>
	<span>
		<a href="" class="profile link">Profile</a>
	</span>
</div>

<div class="profile-background">
	<div>
	<div>
		<img class="profile-pic" src="../images/profile.jpeg"></div>
	</div>

	<div class="bio">Bio</div>

	<div class="news-feed"></div>
	</div>
	<div class="profile-details">
		<p>Name:</p>
		<p>Works at:</p>
		<p>Current city:</p>
		<p>From:</p>
		<p>Email:</p>
		<p>Phone:</p>
		<p>Twitter profile:</p>
	</div>
</div>